#root {
  font-family: "Kanit";
}

.roothome {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}
@media only screen and (max-width: 750px) {
  .card {
    width: 100% !important;
    padding: 0px;
  }
}

.read-the-docs {
  color: #888;
}



/* สไตล์พื้นฐานสำหรับ skeleton */
.skeleton {
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: shimmer 1.5s infinite;
}

/* สำหรับ Avatar */
.skeleton.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* สำหรับ Text */
.skeleton.text {
  height: 16px;
  width: 100%;
  margin: 8px 0;
}

.skeleton.text.short {
  width: 60%;
}

/* แอนิเมชัน shimmer */
@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

/* กำหนดพื้นหลังสำหรับ shimmer */
.skeleton {
  background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
  background-size: 200% 100%;
}

pre {
  border-color: #000 !important;
  border-width: 1px !important;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
}

tr {
  border-top: 1px solid #c6cbd1;
  background: #fff;
}

th,
td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
  background: #f6f8fa;
}
table {
  margin-bottom: 10px;
}
button {
  border-radius: 30px !important;
}
